html{
  font: 100%/1.15 sans-serif;
}

body{
font-family: "calibri", sans-serif;
  font-size: 1em;
  font-weight:lighter;
  color: #424242;
  background-color:#E5E7E9;
  border-style: hidden;
  width: 90%;
  max-width: 60em;
  margin: 0 auto;
}

main {

  margin: 0px 10px;
  border: hidden;
  background-color: #EAEDED;
  box-shadow: 0px 6px 25px 6px #CACFD2;
}


nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-image: -webkit-linear-gradient(bottom, #E0E0E0 0%, #f4f4f1 100%);
      box-shadow:0px 1px 1px 1px #CACFD2;
    }

nav li {
  display:block;
  padding: 5px 8px;
  float: left;

  }

nav li:hover{
  display: block;
  padding: 5px 8px;
  background: #D98880;
  transition: background 0.5s ease-in-out;
  }

  nav li img {
    display: block;
    margin: 11px; 2px;
    width: 20px;
    border: hidden;
    color: #424242;
  }


  nav li img:hover {
      width: 40px;
      display: block;
      border: double black 3px;
      padding: 6px 10px;
      margin: 5px 1px;
      transition: background 0.5s ease-in-out;
      transition: border 0.2s ease-in-out;
    }

.home {
  font-family: Garamond, serif;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: bold;
  background-color: #D98880;
  }

.home:hover {
  color: whitesmoke;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: #D98880;
}

  .house {
    display: block;
    color: whitesmoke;
    text-align: center;
    float: right;
    padding: 14px;
    border:
    font-weight: bold;
    background-color: #D98880;
  }

  .house:hover {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    background-color: #D98880;
  }


figure {
  text-align: center;
  padding:20px 0px 5px 0px;
  margin: 0 auto;
}
#timg {
    margin: 0px 10px;
}
img {
  height: 99%;
  width: 99%;
  border-style: solid;
  border-width: 10px;
  border-color: lightgrey;

}

.responsive {
    max-width: 100%;
    height: auto;
}

figcaption {
  padding:5px;
  text-transform: uppercase;
  text-align: left;
  font-size: 70%;

}

h1 {
font-family: "Old Goudy Style", serif;
  Border: double #424242 3px;
  border-right: hidden;
  border-left: hidden;
  width: 80%;
  padding:10px;
  text-align: center;
  font-size: 2.7em;
  color: #424242;
  margin: 15px auto;

}
#summary{
  font-family: serif;
  margin: 10px 50px;
}

 blockquote {
   font-size: 100%;
   width:60%;
   margin-left: auto;
   margin-right: auto;
   margin-top:10px;
   color: #424242;
   padding:1em 30px 1em 75px;
   border-left:8px solid #D98880;
   line-height:1.6;
   background:gainsboro;
}

footer {
  font-family: 'calibri',sans-serif;
  text-align: right;
  font-style: 80%;
  margin-top: 10px;
  text-transform: uppercase;
}

 p {
  padding: 1px;
}

h2 {
  font-family: "Goudy Old Style", serif;
  color: #424242;
  padding: 3px;
  font-size: 22px;
  margin: 0px 0px 5px 30px;
  display: inline;
  border: double #424242 3px;
  border-left: hidden;
  border-right:hidden;
}

#directions,
#ingredients,
#info{
  margin: 0px 0px 0px 20px;
}



}

.italics {
  font-style: italic;
}

strong {
  font-family: serif;
  font-weight: 800;

}

#ingredientsinfo,
#directionsinfo{
  font-family: garamond, serif;
  border: gray thick solid;
  border-top:hidden;
  border-bottom: hidden;
  border-right:hidden;
  border-radius: 0px 5px 5px 0px;
  background: gainsboro;
  border-image: linear-gradient(to bottom, White 0%,#D98880 0%,#D98880 100%,white 100%);
  border-image-slice: 2;
  margin: 15px 30px;
  padding: 0px;
}

.back-to-top a{
  margin: 1em 1em 1em 5em;
  font-size: 60%;
  color: #D98880;
  text-decoration: none;
}

#copyright {
  font-size: 10px;
  text-transform: uppercase;
  margin: 1em 1em 1em 5em;
  padding-bottom: 10px;

}

/* ---- layout for wider width screens ---*/
@media (min-width:500px) {

  #info{
    border: 2px gray hidden;
    margin-top: 40px;
    margin-left: 0px;
  }
}
